@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu {
    /*common*/
    @apply flex

    /*mobile*/
    absolute top-0 left-full w-screen h-screen z-10 bg-dark flex-col items-start justify-start transition-all

    /*desktop*/
    lg:flex-row lg:gap-10 lg:w-auto lg:h-auto lg:bg-transparent lg:relative lg:top-auto lg:left-auto;
  }
  .menu--open {
    @apply left-0;
  }
}
