@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dots {
  bottom: -20px !important;
  @media screen and (max-width: 1024px) {
    bottom: -15px !important;
  }
}
.custom-dots li button:before {
  color: #e96744 !important;
  font-size: 8px !important;
  opacity: 0.3;
}
.custom-dots li.slick-active button:before {
  opacity: 1;
}
.hero-video::after {
  content: "";
  width: 100%;
  height: 4rem;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #1e1e22);
}
